.main_screen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    height: 100vh;
}

.sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-top: 5rem;
}

#user_code {
    width: 90%;
    height: 70rem;
}

table {
    border-collapse: collapse;
}

.column_1 {
    width: 33%;
}
.column_2 {
    width: 66%;
}
.column_2_2 {
    width: 33%;
}
.column_3_2 {
    width: 33%;
}

.block_holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.bh_1 {
    height: 25rem;
    margin-bottom: 5rem;
}

.bh_2 {
    margin-bottom: 5rem;
}

.bh_2, .bh_3 {
    height: 20rem;
}

#final_code {
    width: 80%;
    height: 50rem;
}

#errors_block {
    width: 80%;
    height: 20rem;
}