.main_screen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    height: 100vh;
}

.sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-top: 5rem;
}

#user_code {
    width: 90%;
    height: 70rem;
}

table {
    border-collapse: collapse;
}

.column_1 {
    width: 33%;
}
.column_2 {
    width: 66%;
}
.column_2_2 {
    width: 33%;
}
.column_3_2 {
    width: 33%;
}

.block_holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.bh_1 {
    height: 25rem;
    margin-bottom: 5rem;
}

.bh_2 {
    margin-bottom: 5rem;
}

.bh_2, .bh_3 {
    height: 20rem;
}

#final_code {
    width: 80%;
    height: 50rem;
}

#errors_block {
    width: 80%;
    height: 20rem;
}

.currentLineBlock {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-top: 2rem;
    padding-left: 4rem;
    gap: 1rem;
}

.currentLineBlock p {
    font-size: 1.6rem;
}

.currentCodeLine {
    padding: 1.4rem 2.8rem;
    width: 40rem;
    font-size: 1.4rem;
    background: none;
    border: none;
    color: black;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.1);
}